.quatro-itens{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px dotted var(--azul);
    margin: 30px 30px 30px 30px ;
}

.titulo-DJ{
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

.imagem-drone{
    text-align: center;
    margin-bottom: 20px;
}

.paragrafo{
    font-size: 15px;
    margin: 20px 0 8px 10px;
    text-align: center;
    color: var(--laranja);
    font-weight: bold;
}

.conteudo-um{
    display: flex;
    justify-content: center;
}

.parcelado-minusculo{
    font-size: 20px;
    margin: 11px 0 8px 10px;
    text-align: center;
}

.parcelado-maisculo{
    font-size: 30px;
    margin: 2px 0 8px 10px;
    text-align: center;
    color: var(--azul);
    font-weight: bold;
}

.boleto{
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
}

.cartoes{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

.btn{
    width: 15em;
    background-color: var(--azul);
    padding: 15px;
    border-radius: 10px;
    border: solid;
    color: var(--cor-de-fundo);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

button{
    margin-top: 20px;
    align-items: center;
}