/*esta englobando todo o cabecalho - config geral*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    color: none;
    background-color: var(--preto);
    margin: 0 10em 0 10em;
}

/*span - daqui para baixo*/
.container {
    display: flex;
    align-items: center;
}

.cabecalho__logo{
    padding: 10px
}

.titulo{
    font-size: 40px;
    color: var(--branco);
    font-family: "Arial Black", Gadget, sans-serif;
}

.titulo-pintado{
    font-size: 35px;
    color: var(--azul);
    font-family: "Arial Black", Gadget, sans-serif;
}

/*configuração de modo geral - nos links - nav - daqui para baixo*/
a {
    color: var(--branco);
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

.links{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 2.3em 0 0;
}